.input-custom{
    border: 1px solid rgba(145,158,171,.32);
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px
}

.form-group label{
    margin-bottom: 8px;
    color: #212b36;
    font-weight: 500;
    font-size: 14px;
    display: block;
}
.selected-custom{
    min-width: 100%!important;
    width: auto!important;
    z-index: 99;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    border: 1px solid rgba(145,158,171,.32);
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}

.form-group{
    margin-bottom: 25px;
}

.form-group textarea{
    border: 1px solid rgba(145,158,171,.32);
    height: 100px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-submit{
    min-width: 120px;
    background: #52b885;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 10px;
    border: none;
    border-radius: 25px;
}
.btn-submit:hover{
    background: #fe820e;
    color: #fff;
}